.order-type-container {
	max-width: 300px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #fff;
}

form {
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 4px;
	font-weight: bold;
}

input,
textarea,
select {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;

	box-sizing: border-box;
}

textarea {
	resize: vertical;
}
.address-input {
	margin-right: 0.5em;
}
