.manager-panel-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.manager-panel {
	position: relative;
	background-color: #ffffff;
	padding: 20px;
	border: 1px solid #dcdcdc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 800px;
	box-sizing: border-box;
	overflow-y: auto;
	max-height: 80vh;
}

.manager-panel .close-button {
	background: none;
	border: none;
	cursor: pointer;
	color: #888;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 1.5rem;
	transition: color 0.3s ease;
}

.manager-panel .close-button:hover {
	color: #000;
}

.manager-panel .export-button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.manager-panel .export-button:hover {
	background-color: #0056b3;
}

.manager-panel h2 {
	font-size: 1.75rem;
	margin-bottom: 20px;
	color: #333;
}

.manager-panel .manager-info {
	margin-top: 20px;
}

.manager-panel .info-item {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
	background-color: #f9f9f9;
	font-size: 1rem;
	color: #333;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.manager-panel .table-toggle {
	background: none;
	border: none;
	cursor: pointer;
	color: #007bff;
	font-size: 16px;
	text-align: left;
	padding: 5px 0;
	display: block;
	width: 100%;
	text-decoration: underline;
}

.manager-panel .table-toggle:hover {
	color: #0056b3;
}
.info-item .sala-utarg {
	border: 2px solid black;
	padding: 5px;
	font-weight: bold;
	font-size: 30px;
}
.manager-info ul ul {
	margin-left: 20px;
}

.manager-panel .info-item strong {
	display: block;
	margin-bottom: 8px;
	color: #007bff;
}

.manager-panel .info-item ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.manager-panel .info-item li {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 15px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.toggle-summary {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #007bff;
	text-align: left;
	margin-top: 10px;
}

.toggle-summary:hover {
	text-decoration: underline;
}
.manager-panel .info-item li ul {
	list-style: none;
	padding-left: 15px;
}

.manager-panel .info-item li ul li {
	margin-bottom: 8px;
	font-size: 0.9rem;
	color: #555;
}

.manager-panel-button {
	margin-top: 65px;
	top: 10px;
	right: 10px;
	z-index: 100;
	padding: 8px 15px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	z-index: -1;
}

.manager-panel-button:hover {
	background-color: #0056b3;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.manager-panel.fade-out {
	animation: fadeOut 1s ease-out forwards;
}
.served-guests-info {
	color: #dc3545;
	font-size: 18px;
	margin-top: 5px;
}

.served-guests-info strong {
	color: #a71d2a;
}
