.payment-manager {
	font-family: Arial, sans-serif;
	border: 1px solid #ccc;
	padding: 20px;
	width: 300px;
	margin: 20px;
	background-color: #f9f9f9;
}

.payment-manager h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

#paymentMethod {
	margin-bottom: 15px;
}

#paymentMethod label {
	margin-right: 10px;
}

#cashPayment {
	margin-top: 10px;
}

#cashPayment input[type="number"] {
	width: 100%;
	padding: 8px;
	font-size: 1em;
	margin-bottom: 10px;
}

#cashPayment button {
	padding: 8px 16px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
}

#cashPayment button:hover {
	background-color: #45a049;
}

#cashPayment p {
	margin-top: 10px;
}
.manager-panel-button {
	top: 10px;
	right: 10px;
}

.manager-panel-button button {
	padding: 5px 10px;
	font-size: 16px;
	border: none;
	background-color: #007bff54;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}

.manager-panel-button button:hover {
	background-color: #0056b3;
}
.table-manager {
	position: relative;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.manager-panel-button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
}

.manager-panel-button button {
	padding: 5px 10px;
	font-size: 16px;
	border: none;
	background-color: #007bff54;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}

.manager-panel-button button:hover {
	background-color: #0056b3;
}
.waitingprof {
	height: 80px;
	background-color: #f0f0f0;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.stats-header {
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 20px;
	padding: 0 20px;
}

.guests-stats {
	display: flex;
	gap: 30px;
	font-size: 16px;
	align-items: center;
}

.active-guests {
	color: #007bff;
	font-weight: 500;
	font-size: 18px;
}

.active-guests strong {
	font-size: 24px;
	margin-left: 8px;
	color: #0056b3;
}

.served-guests {
	color: #dc3545;
	font-weight: 500;
	font-size: 18px;
}

.served-guests strong {
	font-size: 24px;
	margin-left: 8px;
	color: #a71d2a;
}

.waitingprof {
	margin: 0;
	font-size: 24px;
}
