.order-type-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
}

.time-input {
	width: 45%;
	padding: 8px;
	font-size: 16px;
}

.pickup-time {
	font-size: 24px;
	margin-top: 20px;
	padding: 10px;
}

.pickup-time-na {
	color: white; /* Biały kolor tekstu dla "Odbiór na" */
	background-color: black;
}

.pickup-message {
	font-size: 18px;
	margin-top: 20px;
	color: black; /* Czarny kolor tekstu dla "p" */
}
